## Deliverable 3. Create a Travel Itinerary Map.

In [98]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [99]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Guhagar,IN,73.58,overcast clouds,17.4842,73.1929,Hotel Seawinds
1,4,Castro,BR,70.00,broken clouds,-24.7911,-50.0119,CHACARA BAILLY
2,5,Butaritari,KI,82.47,broken clouds,3.0707,172.7902,Isles Sunset Lodge
3,10,Mangrol,IN,70.86,clear sky,21.1167,70.1167,Hotel The Royal Honours
4,14,Saint George,US,73.87,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn

In [105]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
    <dt><b>Hotel Name</b></dt>
        <dd>{Hotel Name}</dd>
    <dt><b>City</b></dt>
        <dd>{City}</dd>
    <dt><b>Country</b></dt>
        <dd>{Country}</dd>
    <dt><b>Current Weather</b></dt>
        <dd>{Current Description} and {Max Temp} \N{DEGREE SIGN}F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [106]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center = (30, 31.0), zoom_level = 1.5)
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [107]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['Hotel Name'] == 'Trinity Plains Tourist Park']
vacation_end = vacation_df.loc[vacation_df['Hotel Name'] == 'Trinity Plains Tourist Park']
vacation_stop1 = vacation_df.loc[vacation_df['Hotel Name'] == 'Castle Motor Lodge Motel']
vacation_stop2 = vacation_df.loc[vacation_df['Hotel Name'] == 'International Lodge Motel']
vacation_stop3 = vacation_df.loc[vacation_df['Hotel Name'] == 'The Irish Village']

In [108]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[['Lat', 'Lng']].to_numpy()[0])
end = tuple(vacation_end[['Lat', 'Lng']].to_numpy()[0])
stop1 = tuple(vacation_stop1[['Lat', 'Lng']].to_numpy()[0])
stop2 = tuple(vacation_stop2[['Lat', 'Lng']].to_numpy()[0])
stop3 =tuple(vacation_stop3[['Lat', 'Lng']].to_numpy()[0])

In [109]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
directions = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], travel_mode = 'DRIVING')
fig.add_layer(directions)

fig

Figure(layout=FigureLayout(height='420px'))

In [110]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,133,Mareeba,AU,78.44,overcast clouds,-17.0000,145.4333,Trinity Plains Tourist Park
1,565,Bowen,AU,79.02,clear sky,-20.0167,148.2333,Castle Motor Lodge Motel
2,519,Mackay,AU,84.69,scattered clouds,-21.1500,149.2000,International Lodge Motel
3,352,Emerald,AU,82.98,overcast clouds,-23.5333,148.1667,The Irish Village
4,133,Mareeba,AU,78.44,overcast clouds,-17.0000,145.4333,Trinity Plains Tourist Park

In [114]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
    <dt><b>Hotel Name</b></dt>
        <dd>{Hotel Name}</dd>
    <dt><b>City</b></dt>
        <dd>{City}</dd>
    <dt><b>Country</b></dt>
        <dd>{Country}</dd>
    <dt><b>Current Weather</b></dt>
        <dd>{Current Description} and {Max Temp} \N{DEGREE SIGN}F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [119]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))